# Node modules
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Hardhat build artifacts
/artifacts
/cache
/typechain
/typechain-types
/coverage
/coverage.json

# Editor settings
.vscode/
.idea/

# Draft or archive contracts (your personal)
contracts/**/_drafts/
contracts/**/*.off

# System files
.DS_Store